html{
    margin: 0;
    width: 100%;
}

body{
    margin: 0;
    width: 100%;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top{
    background-color: black;
    color: white;
    width: 100%;
    height: 8rem;
}

.logo{
    height: 5rem;
    font-size: 4em;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    align-items: center;
    justify-content: center;
    text-justify: center;
    pointer-events: none;
    user-select: none;
}

.navbar{
    background-color: black;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.naventry{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    transition: ease-in-out 0.25s;

}

.active{
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    transition: ease-in-out 0.25s;
    text-shadow: 0px 0px 20px white;

}

.naventry::after{
    content: "";
    background-color: rgb(128, 128, 128);
    width: 2rem;
    transform: translateY(1.35rem);
    height: 0.3rem;
    position: absolute;
    opacity: 0;
    transition: ease-in-out 0.25s;
}

.active::after{
    content: "";
    background-color: white;
    width: 4rem;
    transform: translateY(1.35rem);
    height: 0.3rem;
    position: absolute;
    opacity: 1;
    transition: ease-in-out 0.25s;
}

.naventry:hover::after{
    opacity: 1;
}

.content{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.footer{
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
}

#topbtn {
    display: block;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    bottom: 2.1rem;
    right: 1rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid black;
    border-radius: 10px;
    font-size: 2em;
    transition: ease-in 0.25s;
  }
  
  #topbtn:hover {
    background-color: black;
    color: white;
  }